/*The inital screen. It is a grid of three main sections (title, contact, and portrait)*/
#start-page-container {
    /*Covers the screen*/
    width: 100vw;
    height: 100vh;

    display: grid;

    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-bottom-color: var(--accent);

    /*Describes the shape of the grid*/
    grid-template-columns: 10%;
    grid-template-areas: 
        ". . . portrait portrait"
        "title title title portrait portrait"
        "title title title portrait portrait"
        "title title title portrait portrait"
        ". . . portrait portrait"
        "contact contact contact portrait portrait"
        "contact contact contact portrait portrait";
}

/*back-ground image of the main screen*/
#bg-image {
    /*Places the background behind everything else and has it cover the whole main screen*/
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    /*Sets the background to the given image and has it not move, even when scrolling*/
    background-image: url("../images/3DHex.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 

    -webkit-filter: blur(0px);
    filter: blur(0px);

    transition: filter 1.5s;
    transition-delay: .5s;
}
/*When bg-image set to blur class, blur the image*/
#bg-image.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#start-page-container>* {
    display: flex;
}
#start-page-container>*>* {
    width: 80%;
    margin: auto;
}

#me {
    width: 100%;
    height: 100%;

    margin: 0;
    margin-bottom: 0;
    padding: 0;

    /*background-color: rgba(255, 255, 255, .1);
    /*box-shadow: 0 0 5px 10px rgba(255, 255, 255, .1);*/

    display: flex;
}
#me>img {
    margin: auto;
    margin-bottom: 0;
}
#title {
    grid-area: title;

    transition: transform 1.5s;
    transform: translateX(-100vw);
}
#title>div, #contact>div {
    border-style: solid;
    border-radius: 10pt;
    border-color: var(--object);

    background-color: var(--title-background);

    padding-top: 10px;
    padding-bottom: 10px;
}
#portrait {
    grid-area: portrait;

    vertical-align: bottom;

    transition: transform 1.5s;
    transform: translateX(100vw);
}
#contact {
    grid-area: contact;

    transition: transform 1.5s;
    transform: translateX(-100vw);

    width: 100%;
}

/*Sets up the nice alignment of the contact links*/
#contact-inner {
    display: grid;

    grid-template-areas: "contact-title contact-info contact-info contact-info contact-info";
}
#contact-inner>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-title {
    grid-area: contact-title;
}
#contact-info {
    grid-area: contact-info;
}
/*Each contact link automatically space out based on how many there are*/
#contact-info>* {
    margin: auto;
}

#picture-of-me {
    height: auto;
}

.flip {
    animation: flip 1s ease-in-out;
    animation-delay: .5s;
}
/*Used for when the user clicks the portrait*/
.click-flip {
    animation: flip .8s ease-out;
}
@keyframes flip {
    0% {
        transform: rotateY(1deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}